<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <div id="main-content text-center">
      <!-- <div class="col-xs-4 text-center"> -->
      <div class="card-block text-center">
      <div class="panel-heading" id="login-header">
       <img id="crane-logo" src="https://static.wixstatic.com/media/f26f54_f1af0c76418444819085bea772162211.png/v1/fill/w_620,h_492/f26f54_f1af0c76418444819085bea772162211.png" alt="img-fluid" class="img-thumbnail">
        <h3 class="panel-header">Login</h3>
      </div>
      <div class="panel-body">
        <p>
          <%= button_to "Faculty", new_session_path, method: :get, :class => "btn btn-default btn-block", remote: true %>
        </p>
        <p>
          <%= button_to "Staff", new_session_path, method: :get, :class => "btn btn-default btn-block", remote: true %>
        </p>
        <p>
          <%= button_to "Register", new_user_path, method: :get, :class => "btn btn-default btn-block", :id => "button-to-registration", remote: true %>
        </p>
        </div>
      <!-- </div> -->
    </div>
  </div>
  <div class="col-xs-1"></div>
</div>
