<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <div id="main-content">
        <%= button_to "Faculty", new_session_path %>
        <%= button_to "Staff", new_session_path %>
        <%= button_to "Register", new_session_path %>
    </div>
  </div>
  <div class="col-xs-1"></div>
</div>
