<nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-header container-fluid" id="navfluid">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "AUTOGENICS", root_path, :class => 'navbar-brand' %>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        <% if session[:user_id] %>
        <li><% @user = User.find(session[:user_id]) %>
          <%= link_to "Log out", users_logout_path, method: :delete, :class => 'nav navbar-nav', "data-toggle" => "collapse", "data-target" => ".navbar-collapse.in", remote: true %></li>
        <% else %>
          <li><%= link_to "Log in", users_login_path, :class => 'nav navbar-nav', "data-toggle" => "collapse", "data-target" => ".navbar-collapse.in", remote: true %></li>
          <li><%= link_to "Register", new_user_path, :class => 'nav navbar-nav', "data-toggle" => "collapse", "data-target" => ".navbar-collapse.in", remote: true %></li>
          </ul>
        <% end %>
      </div>
    </div>
</nav>
