<div class="row">
  <div class="col-xs-1 column">.col-md-1</div>
  <div class="col-xs-10 column">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
  <div class="col-xs-1 column">.col-md-1</div>
</div>
