<div class='row'>
  <div class='col-xs-1 column'> </div>
  <div class='col-xs-10 column text-center'><h1>Autogenics Experiments List</h1></div>
  <div class='col-xs-1 column'> </div>
</div>
<div class='row'>
  <div class='col-xs-1 column'> </div>
  <div class='col-xs-10 column'>
    <% if session[:role] == "Faculty" %>
      <%= button_to "Post New Experiment", new_experiment_path, method: :get , :class => 'btn btn-default'%>
    <% end %>
  </div>
  <div class='col-xs-1 column'> </div>
</div>
<div class='row'>
  <div class='col-xs-1 column'> </div>
  <div id="example-links" class='col-xs-10 column experiments-list'>
  <br>
    <ul>
      <% @experiments.each do |experiment| %>
        <li class='title'>
          <%= link_to "#{experiment.title}", experiment_path(experiment), remote: true %>
        </li><br>
      <% end %>
    </ul>
  </div>
  <div class='col-xs-1 column'> </div>
</div>
