<div class='row'>
  <div class='col-md-1 column'>I'm here</div>
  <div class='col-md-10 column'><h1>Autogenics Experiments List</h1></div>
  <div class='col-md-1 column'>I'm here too</div>
</div>
<div class='row'>
  <div class='col-md-1 column'>This is a thing</div>
  <div class='col-md-10 column experiments-list'>
    <ul>
      <% @experiments.each do |experiment| %>
        <li>
          <%= link_to "#{experiment.title}", experiment_path %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class='col-md-1 column'>Also a thing</div>
</div>
