<div class='row'>
  <div class='col-mid-1'></div>
  <div class='col-mid-10'>
    <h1 class='page-header'>Autogenics Experiments List</h1>
  </div>
  <div class='col-mid-1'></div>
</div>
<div class='row'>
  <div class='col-mid-1'></div>
  <div class='col-mid-10 experiments-list'>
    <ul>
      <% @experiments.each do |experiment| %>
        <li>
          <!-- do some stuff here -->
        </li>
      <% end %>
    </ul>
  </div>
  <div class='col-mid-1'></div>
</div>
