<h1>Autogenics Experiments List</h1>
<div class='experiments-list'>
  <ul>
    <% experiments.all.each do |experiment| %>
      <li>
        <!-- do some stuff here -->
      </li>
    <% end %>
  </ul>
</div>
