<div class= "row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div id="main-content">
      <div>
        <h1> Article Title </h1>
      </div>
      <div>
        <h3> Abstract </h3>
      </div>
      <div>
        <h3> Introduction </h3>
      </div>
      <div>
        <h3> Materials and Methods </h3>
      </div>
      <div>
        <h3> Results </h3>
      </div>
      <div>
        <h3> Discussion </h3>
      </div>
      <div>
        <h3> Conclusion </h3>
      </div>
      <div>
        <h3> Supporting Info </h3>
      </div>
      <div>
        <h3> Acknowledgments </h3>
      </div>
      <div>
        <h3> Author Contributions </h3>
      </div>
      <div>
        <h3> References </h3>
      </div>
    </div>
    <div id="staff-content">
        <h3> Experiment Staff </h3>
        <% form_for something_path do |f| %>
          <% f.submit %>
        <% end %>
    </div>
  </div>

  <div class="col-md-1">
  </div>


</div>
