<div class= "row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10" id="main-content">
    <div>
      <h1> Article Title </h1>
    </div>
    <div>
      <h3> Abstract </h3>
    </div>
    <div>
      <h3> Introduction </h3>
    </div>
    <div>
      <h3> Materials & Methods </h3>
    </div>
    <div>
      <h3> Results </h3>
    </div>
  </div>
  <div class="col-md-1">
  </div>


</div>
