<div class= "row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <div id="main-content">
      <div class="sub-content" id="article-title">
        <h1> Article Title </h1>
      </div>
      <div class="sub-content" id="article-abstract">
        <h3> Abstract </h3>
        <p class="hidden">ABSTRACT INFO</p>
      </div>
      <div class="sub-content" id="article-intro">
        <h3> Introduction </h3>
        <p class="hidden">INTRO INFO</p>
      </div>
      <div class="sub-content" id="article-material">
        <h3> Materials and Methods </h3>
        <p class="hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempor rutrum imperdiet. Mauris pharetra, purus rhoncus blandit tempus, ligula lorem hendrerit massa, non ornare tellus neque ut lorem. Sed vel faucibus dolor, sed laoreet erat. Phasellus sit amet consequat ligula. Donec ut leo interdum, auctor tortor ac, sagittis nisi. Quisque ultrices, dolor non lobortis interdum, eros est suscipit tortor, a aliquet elit justo in arcu. Proin hendrerit non arcu sed molestie. Etiam nulla quam, tincidunt sit amet suscipit congue, finibus quis ipsum. Quisque quam eros, ullamcorper sed odio vitae, tempus sodales velit. Aenean quam nisl, condimentum quis mi id, elementum vehicula lacus. Donec mattis eros in dolor malesuada vehicula. Nullam faucibus nibh vel bibendum cursus. Quisque cursus sapien aliquet magna ultricies, a consequat erat tristique. Duis mattis aliquet dui, a auctor ligula porttitor at. Morbi sagittis tincidunt tortor, sed feugiat purus dignissim in. Fusce tempor cursus purus in posuere.</p>
      </div>
      <div class="sub-content" id="article-results">
        <h3> Results </h3>
        <p class="hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempor rutrum imperdiet. Mauris pharetra, purus rhoncus blandit tempus, ligula lorem hendrerit massa, non ornare tellus neque ut lorem. Sed vel faucibus dolor, sed laoreet erat. Phasellus sit amet consequat ligula. Donec ut leo interdum, auctor tortor ac, sagittis nisi. Quisque ultrices, dolor non lobortis interdum, eros est suscipit tortor, a aliquet elit justo in arcu. Proin hendrerit non arcu sed molestie. Etiam nulla quam, tincidunt sit amet suscipit congue, finibus quis ipsum. Quisque quam eros, ullamcorper sed odio vitae, tempus sodales velit. Aenean quam nisl, condimentum quis mi id, elementum vehicula lacus. Donec mattis eros in dolor malesuada vehicula. Nullam faucibus nibh vel bibendum cursus. Quisque cursus sapien aliquet magna ultricies, a consequat erat tristique. Duis mattis aliquet dui, a auctor ligula porttitor at. Morbi sagittis tincidunt tortor, sed feugiat purus dignissim in. Fusce tempor cursus purus in posuere.</p>
      </div>
      <div class="sub-content" id="article-disc">
        <h3> Discussion </h3>
        <p class="hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempor rutrum imperdiet. Mauris pharetra, purus rhoncus blandit tempus, ligula lorem hendrerit massa, non ornare tellus neque ut lorem. Sed vel faucibus dolor, sed laoreet erat. Phasellus sit amet consequat ligula. Donec ut leo interdum, auctor tortor ac, sagittis nisi. Quisque ultrices, dolor non lobortis interdum, eros est suscipit tortor, a aliquet elit justo in arcu. Proin hendrerit non arcu sed molestie. Etiam nulla quam, tincidunt sit amet suscipit congue, finibus quis ipsum. Quisque quam eros, ullamcorper sed odio vitae, tempus sodales velit. Aenean quam nisl, condimentum quis mi id, elementum vehicula lacus. Donec mattis eros in dolor malesuada vehicula. Nullam faucibus nibh vel bibendum cursus. Quisque cursus sapien aliquet magna ultricies, a consequat erat tristique. Duis mattis aliquet dui, a auctor ligula porttitor at. Morbi sagittis tincidunt tortor, sed feugiat purus dignissim in. Fusce tempor cursus purus in posuere.</p>
      </div>
      <div class="sub-content" id="article-con">
        <h3> Conclusion </h3>
         <p class="hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempor rutrum imperdiet. Mauris pharetra, purus rhoncus blandit tempus, ligula lorem hendrerit massa, non ornare tellus neque ut lorem. Sed vel faucibus dolor, sed laoreet erat. Phasellus sit amet consequat ligula. Donec ut leo interdum, auctor tortor ac, sagittis nisi. Quisque ultrices, dolor non lobortis interdum, eros est suscipit tortor, a aliquet elit justo in arcu. Proin hendrerit non arcu sed molestie. Etiam nulla quam, tincidunt sit amet suscipit congue, finibus quis ipsum. Quisque quam eros, ullamcorper sed odio vitae, tempus sodales velit. Aenean quam nisl, condimentum quis mi id, elementum vehicula lacus. Donec mattis eros in dolor malesuada vehicula. Nullam faucibus nibh vel bibendum cursus. Quisque cursus sapien aliquet magna ultricies, a consequat erat tristique. Duis mattis aliquet dui, a auctor ligula porttitor at. Morbi sagittis tincidunt tortor, sed feugiat purus dignissim in. Fusce tempor cursus purus in posuere.</p>
      </div>
      <div class="sub-content" id="article-sup-info">
        <h3> Supporting Info </h3>
         <p class="hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempor rutrum imperdiet. Mauris pharetra, purus rhoncus blandit tempus, ligula lorem hendrerit massa, non ornare tellus neque ut lorem. Sed vel faucibus dolor, sed laoreet erat. Phasellus sit amet consequat ligula. Donec ut leo interdum, auctor tortor ac, sagittis nisi. Quisque ultrices, dolor non lobortis interdum, eros est suscipit tortor, a aliquet elit justo in arcu. Proin hendrerit non arcu sed molestie. Etiam nulla quam, tincidunt sit amet suscipit congue, finibus quis ipsum. Quisque quam eros, ullamcorper sed odio vitae, tempus sodales velit. Aenean quam nisl, condimentum quis mi id, elementum vehicula lacus. Donec mattis eros in dolor malesuada vehicula. Nullam faucibus nibh vel bibendum cursus. Quisque cursus sapien aliquet magna ultricies, a consequat erat tristique. Duis mattis aliquet dui, a auctor ligula porttitor at. Morbi sagittis tincidunt tortor, sed feugiat purus dignissim in. Fusce tempor cursus purus in posuere.</p>
      </div>
      <div class="sub-content" id="article-acknow">
        <h3> Acknowledgments </h3>
         <p class="hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempor rutrum imperdiet. Mauris pharetra, purus rhoncus blandit tempus, ligula lorem hendrerit massa, non ornare tellus neque ut lorem. Sed vel faucibus dolor, sed laoreet erat. Phasellus sit amet consequat ligula. Donec ut leo interdum, auctor tortor ac, sagittis nisi. Quisque ultrices, dolor non lobortis interdum, eros est suscipit tortor, a aliquet elit justo in arcu. Proin hendrerit non arcu sed molestie. Etiam nulla quam, tincidunt sit amet suscipit congue, finibus quis ipsum. Quisque quam eros, ullamcorper sed odio vitae, tempus sodales velit. Aenean quam nisl, condimentum quis mi id, elementum vehicula lacus. Donec mattis eros in dolor malesuada vehicula. Nullam faucibus nibh vel bibendum cursus. Quisque cursus sapien aliquet magna ultricies, a consequat erat tristique. Duis mattis aliquet dui, a auctor ligula porttitor at. Morbi sagittis tincidunt tortor, sed feugiat purus dignissim in. Fusce tempor cursus purus in posuere.</p>
      </div>
      <div class="sub-content" id="article-author-cont">
        <h3> Author Contributions </h3>
        <p class="hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempor rutrum imperdiet. Mauris pharetra, purus rhoncus blandit tempus, ligula lorem hendrerit massa, non ornare tellus neque ut lorem. Sed vel faucibus dolor, sed laoreet erat. Phasellus sit amet consequat ligula. Donec ut leo interdum, auctor tortor ac, sagittis nisi. Quisque ultrices, dolor non lobortis interdum, eros est suscipit tortor, a aliquet elit justo in arcu. Proin hendrerit non arcu sed molestie. Etiam nulla quam, tincidunt sit amet suscipit congue, finibus quis ipsum. Quisque quam eros, ullamcorper sed odio vitae, tempus sodales velit. Aenean quam nisl, condimentum quis mi id, elementum vehicula lacus. Donec mattis eros in dolor malesuada vehicula. Nullam faucibus nibh vel bibendum cursus. Quisque cursus sapien aliquet magna ultricies, a consequat erat tristique. Duis mattis aliquet dui, a auctor ligula porttitor at. Morbi sagittis tincidunt tortor, sed feugiat purus dignissim in. Fusce tempor cursus purus in posuere.</p>
      </div>
      <div class="sub-content" id="article-ref">
        <h3> References </h3>
        <p class="hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempor rutrum imperdiet. Mauris pharetra, purus rhoncus blandit tempus, ligula lorem hendrerit massa, non ornare tellus neque ut lorem. Sed vel faucibus dolor, sed laoreet erat. Phasellus sit amet consequat ligula. Donec ut leo interdum, auctor tortor ac, sagittis nisi. Quisque ultrices, dolor non lobortis interdum, eros est suscipit tortor, a aliquet elit justo in arcu. Proin hendrerit non arcu sed molestie. Etiam nulla quam, tincidunt sit amet suscipit congue, finibus quis ipsum. Quisque quam eros, ullamcorper sed odio vitae, tempus sodales velit. Aenean quam nisl, condimentum quis mi id, elementum vehicula lacus. Donec mattis eros in dolor malesuada vehicula. Nullam faucibus nibh vel bibendum cursus. Quisque cursus sapien aliquet magna ultricies, a consequat erat tristique. Duis mattis aliquet dui, a auctor ligula porttitor at. Morbi sagittis tincidunt tortor, sed feugiat purus dignissim in. Fusce tempor cursus purus in posuere.</p>
      </div>
    </div>
    <div id="staff-content">
        <h3> Current Experiment Staff </h3>
          <%= form_for experiment_path do |f| %>
          <%= f.submit 'Sign Up For Experiment!', :class => 'btn btn-default' %>
          <% end %>
    </div>
  </div>

  <div class="col-xs-1">
  </div>


</div>
