/* unvisited link */
a:link {
  color: #6e2687;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #ccc47f;
}

/* mouse over link */
a:hover {
  color: #b28dc7;
}

/* selected link */
a:active {
  color: #f0db84;
}

.errors-block {
  color: red;
}
